.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25px;
  height: 25px;
  font-weight: 600;
  border-radius: 50%;
  background-color: #ff2929;
  cursor: default;
}
